/* css styles used by all pages of the Channel J site 5.0, Robert Goodwin 2018 */

/*
@font-face {
    font-family: kirvy;
    src: url(../fonts/Kirvy-Regular.otf)
}
*/

/*@font-face {
    font-family: nukamiso;
    src: url(../fonts/nukamiso__beta08.ttf)
}*/
/*@font-face {
    font-family: ipa;
    src: url(../fonts/ipaexg.ttf)
}*/

/*
@font-face {
    font-family: mplus;
    src: url(../fonts/mplus-2-regular-sub.ttf)
}
*/

#bootstrap-override {
    font-family: Arial, Helvetica, sans-serif;
}

/* The mplus font causes funny squares to appear when the <br> tag is used only on Microsoft Edge.
   So use this hack to go back to the Arial font if the browser is detected to be Microsoft Edge */
/*
@supports (-ms-ime-align:auto) {
    #bootstrap-override {
        font-family: Arial, Helvetica, sans-serif;
    }
}
*/
/* do the same for IE11 */
/*
@media all and (-ms-high-contrast:none) {
    #bootstrap-override {
        font-family: Arial, Helvetica, sans-serif;
    }
}
*/



body {
    background-image: url("imgs/fancy-pants.jpg");
}

h4 {font-size: 22px;}
h6 {font-size: 16px;}

#main-container {
    max-width: 1080px;
    padding: 0px;
    margin: auto;
    margin-bottom: 0px;
    
    border:5px;
    border-color:white;
    border-style:groove;
    border-top:none;
    border-bottom:none;
    
    background-color: #444;
}

#blank-background {
    max-width: 1080px;
    background-color: white;
    padding: 20px;
}

/*fix issue with containers and rows that causes horizontal scroll bar to appear*/
.row {
    margin-left: 0;
    margin-right: 0;
}


.normal-top {
    padding: 20px 20px;
    border-top: 0px;
    border-bottom: 4px;
    border-right: 0px;
    border-left: 0px;
    border-style: outset;
    border-color: #8C8;
    background-color: black;
    color: white;
}

.foot {
    padding:25px 25px;
    border-top:4px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    border-style: outset;
    border-color:#595;
    background-color: black;
    color: white;       
}


/* top header stuff */

/*
#bootstrap-override #top-header {
    position: relative;
    margin: 0px;
}



/*
#top-header {
    background: #222;
    
}*/
/*
#top-header > img {
    display: block;
    margin: auto;
}*/


#top-container {
    /* this is just for getting rid of the black line of the background image when the width is an odd number */
    background: pink;
}

